# Ignore Python virtual environment
venv/

# Ignore environment variable files
.env

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Ignore other system-specific files
.DS_Store
*.log
